<section class="clients-area pt-120 pb-90">
  <div class="container text-center">
    <h2 class="mb-60">Our Partners</h2>
    <div class="row">
      <div class="col">
        <img src="images/partner1.png" class="img-fluid mx-3" />
        <img src="images/partner2.png" class="img-fluid mx-3" />
        <img src="images/partner3.png" class="img-fluid mx-3" />
      </div>
    </div>
  </div>
</section>