<section class="services-area pt-120 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2">
        <div class="section-title text-center mb-75">
          <h2>What We <span>Offer</span></h2>
          <p>We provide a wide range of logistics services to support your distribution operations.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="service-box">
          <div class="service-icon"><i class="flaticon-delivery-truck"></i></div>
          <h4>Land Transport</h4>
          <p>Reliable national and international ground freight services.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="service-box">
          <div class="service-icon"><i class="flaticon-airplane"></i></div>
          <h4>Air Freight</h4>
          <p>Fast shipping solutions for time-sensitive cargo.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="service-box">
          <div class="service-icon"><i class="flaticon-logistics-delivery"></i></div>
          <h4>Warehouse Services</h4>
          <p>Secure storage facilities to manage cargo in transit.</p>
        </div>
      </div>
    </div>
  </div>
</section>