<header id="header-sticky" class="transparent-header header3">
  <div class="container-fluid header-full-width">
    <div class="header-top-area">
      <div class="header3-top-left-area">
        <div class="header-top-link">
          <ul>
            <li><a href="mailto:info@webmail.com"><i class="far fa-envelope"></i> info@webmail.com</a></li>
            <li><a href="tel:+76757576560"><i class="far fa-phone"></i> +767 575 765 60</a></li>
          </ul>
        </div>
      </div>
      <div class="header-top-right">
        <div class="header-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-behance"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <div class="menu-area">
      <div class="header3-logo-area">
        <div class="logo">
          <a href="/" class="navbar-brand-logo"><img alt="logo" src="images/logo.png" /></a>
        </div>
      </div>

      <div class="header3-menu-area">
        <div class="main-menu">
          <nav id="mobile-menu">
            <ul class="geoport-main-menu">
              <li><NavLink href="/">Home</NavLink></li>
              <li><NavLink href="/about">About</NavLink></li>
              <li><NavLink href="/services">Services</NavLink></li>
              <li><NavLink href="/contact">Contact</NavLink></li>
            </ul>
          </nav>
        </div>

        <div class="header3-trackorder-area">
          <div class="header-action">
            <div class="header-btn">
              <a href="#" class="btn transparent-btn"><i class="fal fa-truck"></i> Track Your Order</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>