@inherits LayoutComponentBase

<Preloader />

<div class="page-container">
    <Header />

    <main>
        @Body
    </main>         

    <Footer />
</div>

@code {
    protected override void OnInitialized()
    {
        
    }
}